 /* ************************************************ 
    Pembicara Kristen
    29 April 2016
**************************************************/

@import url('font.css');
@import url('form-style.css');

body{
    font-family: GothamReguler;
}
.container-pembicarakristen{
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.container-pembicarakristen .row{
    margin-left: 0;
    margin-right: 0;
}

/* NAVBAR */

/* all size */
nav.navbar-default{
    border:none;
    -webkit-transition: background-color 0.5s; /* Safari 3.1 to 6.0 */
    transition: background-color 0.5s;
}

/* mobile dan tablet size */
@media screen and (max-width:767px) {
    .navbar-brand img{
        height: 35px;
    }
    .navbar-brand{
        padding: 10px;
    }
    nav.navbar-default{
        background-color: transparent;
    }
    .navbar-default .navbar-toggle{
        border : none;
    }
    .navbar-default .navbar-toggle .icon-bar{
        background-color: #fff;
    }
    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
        background: none;
    }
    .navbar-default .navbar-nav>li>a{
        color: #fff;
        background: #06b9f1;
    }
    .navbar-nav{
        margin-top: 0px;
    }
}

/* desktop size */
@media screen and (min-width:768px) {
    nav.navbar-default{
        background: transparent;
    }
    .navbar-brand img{
        height: 50px;
    }
    nav{
        height: 100px;
        padding-left: 80px;
        padding-right: 80px;
    }

    .navbar-default .navbar-nav>li>a{
        color: #fff;
        margin-left: 5px;
    }
    .navbar-default .navbar-nav>li>a:hover{
        color: #06b9f1;
        background-color: #fff;
        border-radius:8px;
    }
    .navbar-default .navbar-nav>li>a.active-navigation-navbar{
        color: #06b9f1;
        background-color: #fff;
        border-radius:8px;
    }
    nav .container-fluid{
        height: 100%;
    }
    nav .container-fluid{
        position: relative;
    }
    nav .container-fluid .navbar-header{
        position: absolute;
        top: 50%;
        height: 50px;
        margin-top: -35px;
    }
    nav .container-fluid .navbar-collapse{
        position: absolute;
        top: 50%;
        height: 50px;
        margin-top: -25px;
        right: -5px;
    }

}

/* ALL */
.section{
    margin-bottom: 60px;
}
.usulpembicara{
    margin-top: 60px;
}

/* HOME */
.main-section-container{
    margin-top: 100px;
}
.main{
    text-align: center;
    width: 100%;
    min-height: 600px;
    background: 
    linear-gradient(
      rgba(6, 185, 241, 0.6), 
      rgba(6, 185, 241, 0.6)
    ),
    url('../img/main-image.jpg');
    background-size: cover;
    background-position: center;
}
.main h2{
    margin-top: 20px;
    margin-bottom: 40px;
    color: #fff;
}
.main img{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}
.main a{
    line-height: 28px;
    padding-left: 30px;
    padding-right: 30px;
}
@media screen and (max-width:991px) {
    .main h2{
        font-size: 28px;
    }
    .main input[type=text]{
        font-size: 12px;
    }
}


.tema-collase .tema-item p{
    line-height: 100px;
    background-color: #06b9f1;
    padding: 0px;
    border-radius: 8px;
    margin-bottom: 0;
}
.tema-collase .tema-item p:hover{
    background-color: #222;
}
.tema-collase .tema-item{
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
}
.tema-desc{
    padding-left: 20px;
}
.tema-desc h3{
    font-family: GothamBolder;
}
.tema-desc p{
    line-height: 30px;
    font-size: 12px;
}
.tema-desc .btn{
    margin-top: 20px;
}
.tema h3.tema-mobile-title{
    display: none;
}
.tema-mobile{
    display: none;
}
/* tema section for mobile */
@media screen and (max-width:991px) {
    .tema{
        width: 100%;
        text-align: center;
    }
    .tema-collase .tema-item p{
        line-height: 50px;
        background-color: #06b9f1;
        padding: 0px;
        border-radius: 8px;
        margin-bottom: 0;
        font-size: 14px;
    }
    .tema h3.tema-mobile-title{
        font-family: GothamBolder;
        display: inline;
    }
    .title-tema-mobile{
        margin-bottom: 20px;
    }
    .tema-desc{
        display: none;
    }
    .tema-pc{
        display: none;
    }
    .tema-mobile{
        display: inline;
    }
}

/* modal */
.modal-tema .modal-footer, .modal-tema .modal-header{
    text-align: center;
}
.modal-tema .modal-content{
    text-align: left;
}
.modal-tema .modal-header h4{
    font-family: GothamBolder;
}

/* usul pembicara section */
.usulpembicara h3{
    font-family: GothamBolder;
}
.usulpembicara p{
    line-height: 30px;
    font-size: 12px;
}
.usulpembicara .btn{
    margin-top: 20px;
}
@media screen and (max-width:991px) {
    .usulpembicara{
        text-align: center;
    }
}


/*footer*/
.footer{
    border-top: 1px solid #eaeaea;
    padding-top: 40px;
}
.footer a{
    color: #000;
    font-size: 12px;
}
.footer a:visited, .footer a:link{
    color: #000;
}
.footer a:hover{
    color: #06b9f1;
    text-decoration: none;
}
.footer .footer-logo{
    max-width: 120px;
}
@media screen and (max-width:991px) {
    .footer .footer-logo{
        padding-left: 15px;
    }
    .footer .bottom-logo{
        margin-top: 40px;
    }
}
.footer a.active-navigation-footer{
    color: #06b9f1;
}



/* Halaman Hasil Pencarian */
.main-half{
    text-align: center;
    width: 100%;
    min-height: 250px;
    background: 
    linear-gradient(
      rgba(6, 185, 241, 0.6), 
      rgba(6, 185, 241, 0.6)
    ),
    url('../img/main-image.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 0px;
}
.main-half button{
    height: 34px;
    width: 34px;
    padding :6px;
}
.main-half .main-section-container{
    margin-top: 140px;
}
.search-icon{
    width: 16px;
}
.main-half .searchbar .search-input{
    width: 90%;
    float: left;
    padding-right: 5px;
}
.main-half .searchbar .search-button{
    width: 10%;
    float: left;
}
@media screen and (max-width:991px) {
    .main-half .main-section-container{
        margin-top: 100px;
    }
    .main-half{
        min-height: 180px;
    }
    .main-half input[type=text]{
        font-size: 12px;
    }
}
.pembicara-foto img{
    padding: 15px;
    border-radius: 50%;
}
.pembicara-desc h4{
    font-family: GothamBolder;
}
.keterangan-daerah-pelayanan td{
    padding:5px;
}
.pembicara-item{
    margin-top: 50px;
}

@media screen and (max-width:991px) {
    .pembicara-foto img{
        padding: 5px;
        border-radius: 50%;
    }
}

.pembicara-desc a:visited, 
.pembicara-desc a:link{
    color: #222;
    text-decoration: none;
}
.pembicara-desc a:hover{
    color: #06b9f1;
    text-decoration: none;
}

.paging-number nav{
    text-align: center;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
    background-color : #222;
    border-color: #222;
}
.pagination>li>a, .pagination>li>span{
    color: #222;
    border : none;
}
.pagination li a, .pagination li a:focus, .pagination li a:active{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color : #06b9f1;
    border : none;
    color: #fff;
}
.pagination li a:hover{
    color: #fff;
    background-color: #06b9f1;
}
.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span{
    border-radius: 5px;
}
.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover{
    background-color : #06b9f1;
    color: #fff;
    border : none;
}

.modal {
    padding: 10px;
}
.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
}




/* HALAMAN PEMBICARA */
.main-half-pembicara{
    position: relative;
}
.main-half-pembicara .pembicara-header{
    position: absolute;
    top: 40px;
}
.pembicara-header img{
    border-radius: 50%;
}
.pembicara-header .pembicara-foto{
    max-width: 150px;
    float: left;
}
.pembicara-header .pembicara-name{
    max-width: 500px;
    float: left;
    padding-left: 20px;
}
.pembicara-header h3{
    color: #fff;
    font-size: 22px;
    font-family: GothamBold;
}
.main-half-pembicara .pembicara-header{
    text-align: left;
}
.main-half-pembicara .pembicara-header a{
    margin-top: 40px;
}
.pembicara-data .komentar{
    margin-top: 50px;
}
.pembicara-data .komentar h5{
    font-family: GothamBold;
    font-size: 18px;
}
.komentar .komentar-item{
    margin-bottom: 20px;
}


@media screen and (max-width:768px) {
    .pembicara-header{
        margin-left: -15px;
    }
    .pembicara-header-wrapper{
        width: 80%;
        margin: 0 auto;
    }
    .pembicara-header .pembicara-foto{
        max-width: 100px;
        float: left;
    }
    .pembicara-header .pembicara-name h3{
        margin-top: 0px;
    }
    .main-half-pembicara .pembicara-header a{
        margin-top: 20px;
    }
}

@media screen and (max-width:600px) {
    .main-half-pembicara .pembicara-header{
        position: static;
        margin-bottom: 20px;
        text-align: center;
        margin-left: 0;
    }
    .pembicara-header .pembicara-foto img{
        position: absolute;
        margin: auto;
        max-width: 100px;
        margin-top: 10px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .pembicara-header .pembicara-name{
        padding: 0;
        margin-top: 130px;
    }
}



/* data pembicara */
.pembicara-data table td{
    padding: 0;
}
.pembicara-data{
    margin-top: 120px;
}
.pembicara-data .data-title p{
    font-family: GothamBold;
    max-width:200px; 
    float: right;
}
.pembicara-data-row p{
    line-height: 30px;
}
.pembicara-data-row a:visited, .pembicara-data-row a:link{
    color: #222;
    text-decoration: none;
}
.pembicara-data-row a:hover{
    color: #06b9f1;
    text-decoration : none;
}
@media screen and (max-width:600px) {
    .pembicara-data{
        padding-left: 10px;
        padding-right: 5px;
        margin-top: 30px;
    }
}
.komentar .komentar-item h5{
    margin-bottom: 0px;
}
.komentar .komentar-item .waktu-komentar{
    font-size: 11px;
    line-height: 20px;
    margin-bottom: 0;
}
@media screen and (max-width:767px) {
    .data-title{
        float: left;
    }
    .komentar-item{
        padding: 0;
    }
}
#modalkomentar .modal-content{
    background-color: #f1f1f1;
}
#modalkomentar .button-komentar{
    text-align: center;
}
#modalkomentar .button-komentar button{
    padding-left: 20px;
    padding-right: 20px;
    line-height: 25px;
}

/* FAQ */
.faq-section{
    margin-top: 60px;
}
@media screen and (max-width:768px) {
    .faq-section{
        margin-top: 20px;
    }
}
.main-half h1{
    color: #fff;
    font-family: GothamBold;
}
.faq-section ol li{
    font-family: GothamBold;
    font-size: 20px;
}
.faq-section .panel-title a:hover , .faq-section .panel-title a:focus{
    text-decoration: none;
}


/* Tentang */
.tentang-section{
    margin-top: 60px;
}
@media screen and (max-width:768px) {
    .tentang-section{
        margin-top: 20px;
    }
}
.tentang-section p span{
    font-family: GothamBold;
    font-size: 20px;
}
.tentang-section p{
    line-height: 35px;
}
.tentang-section .signature{
    margin-top: 80px;
}
.tentang-section .text-tentang{
    margin-top: 20px;
}
.tentang-section p{
    margin-bottom: 20px;
}

/* Kontak */
.kontak-section{
    margin-top: 60px;
    text-align: center;
}
.kontak-section h4{
    font-family: GothamBold;
}
.kontak-section .intro-kontak{
    width: 60%;
    margin : 0 auto;
}
.kontak-section .kontak-details{
    margin-top: 60px;
}
@media screen and (max-width:768px) {
    .kontak-section{
        margin-top: 20px;
    }
    .kontak-section .intro-kontak{
        width: 90%;
        margin : 0 auto;
    }
    .kontak-section .kontak-details{
        margin-top: 40px;
    }
}

/* Penjelasan Kategori */
.penjelasankategori-section{
    margin-top: 60px;
}
@media screen and (max-width:768px) {
    .penjelasankategori-section{
        margin-top: 20px;
    }
}
.penjelasankategori-item{
    margin-bottom: 50px;
}
.penjelasankategori-item h4{
    font-family: GothamBold;
}
.penjelasankategori-section p{
    line-height: 30px;
}